.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__link-reg {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav__link-login {
  border-radius: 3px;
  background-color: #2be080;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  cursor: pointer;
}

.nav__btn-account {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  border: none;
  background-color: #2be080;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 9.5px 0 9.5px 11px;
  width: 100px;
  height: 32px;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.nav__btn-img {
  width: 10.383px;
  height: 10.669px;
  position: absolute;
  right: 10.2px;
  z-index: 1;
}

.nav__btn-circle {
  width: 26px;
  height: 26px;
  position: absolute;
  z-index: 0;
  right: 3px;
  bottom: 3px;
}

.nav__movies {
  display: flex;
  align-items: center;
  margin-right: calc(50% - 175px);
  gap: 16px;
}

.nav__link-movies {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.nav__link-saved-movies {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

@media screen and (max-width: 460px) {
  .nav__link-login {
    font-size: 10px;
    padding: 5px 12px;
  }

  .nav__link-reg {
    font-size: 10px;
  }
}

.nav__link-movies_black {
  color: #000;
}

.nav__link-saved-movies_black {
  color: #000;
}