.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__link-reg {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav__link-login {
  border-radius: 3px;
  background-color: #2be080;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  cursor: pointer;
}

.nav__movies {
  display: flex;
  align-items: center;
  margin-right: calc(50% - 175px);
  gap: 16px;
}

.nav__link-movies {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.nav__link-movies_active {
  font-weight: 500;
}

.nav__link-saved-movies {
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.nav__link-saved-movies_active {
  font-weight: 500;
}

.nav__link-movies_black {
  color: #000;
}

.nav__link-saved-movies_black {
  color: #000;
}

.nav__btn-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__link-saved-movies {
    display: none;
  }

  .nav__link-movies {
    display: none;
  }

  .nav__btn-burger {
    display: block;
    background-image: url(../../images/burger-white.svg);
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-position: center;
    cursor: pointer;
  }

  .nav__btn-burger_dark {
    background-image: url(../../images/burger.svg);
  }

  .nav__movies {
    margin-right: 0;
  }
}

@media screen and (max-width: 460px) {
  .nav__link-login {
    font-size: 10px;
    padding: 5px 12px;
  }

  .nav__link-reg {
    font-size: 10px;
  }

  .nav__btn-burger {
    width: 40px;
    height: 43px;
  }
}
